/* ====== 유저 프로필 ===== */
.profile-img {
  width: 120px;
  height: 110px;
  border-radius: 70%;
  overflow: hidden;
  background-color: #dddddd;
}

.profile-user-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/*=======================*/

.input-text,
.textarea {
  -webkit-appearance: none;
  border: 0;
  background: #f4f4f4;
  padding: 0.75em;
  width: 100%;
  -moz-transition: background-color 0.25s ease-in-out;
  -webkit-transition: background-color 0.25s ease-in-out;
  -ms-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
  line-height: 1.35em;
  font-family: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  font-size: 100%;
  font-weight: inherit;
  letter-spacing: inherit;
  color: inherit;
  margin: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.3)
}

.modal-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 8px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  background-color: #fff;
}

.radio-button {
  vertical-align: middle;
  appearance: none;
  border: max(2px, 0.1em) solid gray;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}


.container {
    display: flex;
    justify-content: flex-end;
    margin-top:-5%;
    margin-bottom: 5%;
    
}

.containerImg {
    display: flex;
    justify-content: flex-end;
    margin-top:-3%;
    margin-bottom: 5%;
    
}
/* @media (max-width: calc(100% - 8em)) {
    .right-align {
      float: right;
    }
} */

